[program:homeAutomation-sgp30]
environment = 
    MQTT_HOST=192.168.0.109,
    MQTT_PORT=1883,
    STATS_DB_HOST=192.168.0.109,
    STATS_DB_PORT=8086,
    STATS_DB_USER={{ USER }},
    STATS_DB_PASS={{ PASS }},
    STATS_DB_DB=home

command=/opt/pytomation/sgp30/current/bin/python3 -m sgp30
directory=/opt/pytomation/sgp30/current
autostart=true
autorestart=true
user=pi
stderr_logfile=/var/log/homeAutomation-sgp30.err.log
stdout_logfile=/var/log/homeAutomation-sgp30.out.log

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock
